<button id="modal-button" class="button" type="button" data-toggle="modal" data-target="#myModal">Latest Courses</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <h4 class="modal-title">Latest Courses</h4> <!-- Title of the modal -->
    <div class="modal-body"> <!-- Body of the modal -->
    </div>
    <div class="modal-footer"> <!-- Footer of the modal -->
      <button type="button" class="button" data-dismiss="modal">Close</button> <!-- Button to close the modal -->
    </div>
  </div>
</div>
