<div class="data-form">
  <!-- Login form starts here -->
  <form action="/users/login" method="POST">
    <!-- Login header -->
    <h2>Login:</h2>
    
    <!-- Email input field -->
    <label for="inputEmail">Email address</label>
    <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required>
    
    <!-- Password input field -->
    <label for="inputPassword">Password</label>
    <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
    
    <!-- Login button -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
  <!-- End of login form -->
</div>
